body
{
height: 100%;
width: 100%;
}

.heading
{
width: 100%;
text-align: left;
}

.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
}

.modal-dialog
{
    width: 70%;
    height: 40%;
}

.modal-body {
    text-align: left;
    font-size: 25px;
}

#title{
    font-size: 23px bold;
}

.start
{
    font-size: 21px;
    background-color: rgb(245, 172, 13);
    color: black;
    border-radius: 30px;
    float: left;
    margin-left: 470px;
}

.restart
{
    font-size: 21px;
    background-color: rgb(255, 51, 0);
    color: rgb(255, 255, 255);
    border-radius: 30px;
    float: right;
    margin-right: 470px;
}

canvas
{
    margin-top: 10px;
}

#status
{
    background-color: rgb(199, 199, 199); 
    color: rgb(0, 0, 0);
    width:fit-content;
    height: 30px;
    border-radius: 10px;
}